<div>
  <link href="./schedule.css" rel="stylesheet" />
  <div class="schedule-schedule card">
    <img
      alt="pastedImage"
      src="/playground_assets/pastedimage-fii6m-200h.png"
      class="schedule-icon"
    />
    <span class="schedule-text"><span>Schedule</span></span>
    <span class="schedule-text1">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
      </span>
    </span>
    <div>Placeholder for widget timer</div>
  </div>
</div>
